body {
    font-family: 'Raleway', sans-serif;
    background: -webkit-linear-gradient(0deg, #ffffff, #ECE9E6);
    background: linear-gradient(0deg, #ffffff, #ECE9E6);
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
}

.center {
    max-width: 980px;
    margin: auto;
}

.title {
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 50px;
}

/* Estilo da imagem de apresentação*/
.box {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.box>.imagem {
    max-width: 100%;
    max-height: 100%
}

/* Estilo dos titulos */
.subtitle {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 40px;
}

.content{
  text-align: center;
}

/* Estilo dos cards */
.second-line{
  margin-top: 1%;
}

.cardtext{
  width: 100%;
  margin-top: 12%;
}

.cardtext .span{
  vertical-align: middle;
}

.card {
    display: inline-flex;
    width: 180px;
    height: 80px;
    transition: 0.3s;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
}

.card.html{
  border-color: #E44D26;
}

.card.html:hover{
  border-color: #000000;
  background-color: #E44D26;
}

.card.css{
  border-color: #3357C2;
}

.card.css:hover{
  border-color: #000000;
  background-color: #3357C2;
}

.card.js{
  border-color: #EDF700;
}

.card.js:hover{
  border-color: #000000;
  background-color: #EDF700;
}

.card.java{
  border-color: #F4001C;
}

.card.java:hover{
  border-color: #000000;
  background-color: #F4001C;
}

.card.csharp{
  border-color: #68217A;
}

.card.csharp:hover{
  border-color: #000000;
  background-color: #68217A;
}

.card.aspnet{
  border-color: #2E64C3;
}

.card.aspnet:hover{
  border-color: #000000;
  background-color: #2E64C3;
}

.card.php{
  border-color: #795EAD;
}

.card.php:hover{
  border-color: #000000;
  background-color: #795EAD;
}

.card.git{
  border-color: #F05033;
}

.card.git:hover{
  border-color: #000000;
  background-color: #F05033;
}

.card.mysql{
  border-color: #E48E00;
}

.card.mysql:hover{
  border-color: #000000;
  background-color: #E48E00;
}

.card.sqlserver{
  border-color: #A3A4A5;
}

.card.sqlserver:hover{
  border-color: #000000;
  background-color: #A3A4A5;
}

/* Estilo do contato */
